body {
  text-align: center;
  color: white;
  background-color: #202020;
  font-family: 'Orbitron', sans-serif; }

.title {
  font-size: 55px;
  padding: 0;
  margin: 0px 0px 40px 0px; }

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 50px;
  height: 100px;
  background-color: #202020;
  border: 2px solid white;
  margin: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#c1:checked {
  background: #9201ff; }

#c2:checked {
  background: #E830CE; }

#c3:checked {
  background: #FF6A63; }

#c4:checked {
  background: #67FF6C; }

#c5:checked {
  background: #1be7ff; }

#c6:checked {
  background: #9201ff; }

#c7:checked {
  background: #E830CE; }

#c8:checked {
  background: #FF6A63; }

#c9:checked {
  background: #67FF6C; }

#c10:checked {
  background: #1be7ff; }

#c11:checked {
  background: #9201ff; }

#c12:checked {
  background: #E830CE; }

#c13:checked {
  background: #FF6A63; }

#c14:checked {
  background: #67FF6C; }

#c15:checked {
  background: #1be7ff; }
